@model Performance_Appraisal_System.Models.Report63

@{
    ViewBag.Title = "महाराष्ट्र सावकारी (नियमन) अधिनियम २०१४ मधील नियम १८(२) अन्वये आदेश पारीत करणे.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
@using (Html.BeginForm("Subject63", "MoneyLending", FormMethod.Post))
{
    <div class="container" style="padding: 30px;background: white;">
        <div class="col-md-12" style="box-shadow: 0px 0px 5px lightgrey;">
            <br>
            <br>
            <h3 class="card-title text-center"><strong>विभागीय सहनिबंधक, जिल्हा उपनिबंधक व त्या अंतर्गत असलेले उपनिबंधक कार्यालये यांसाठी अधिकाऱ्यांचा मूल्यांक भारांक तक्ता</strong></h3>
            <hr>
            <div class="card-text">
                <div class="center-group">
                    <div class="form-row" style="line-height:40px">
                        <div class="form-group col-md-12 center-div" style="color: #e77817 !important; font-size: 20px;">
                            कार्यासनाचे नाव: <strong> @Session["ReportDepartmentName"].ToString() </strong> <br> विषय: <strong> @ViewBag.Title </strong>
                            <br><strong> गुण:  @Session["TotalMarks"].ToString() </strong>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            @Html.DropDownListFor(model => model.Month, (IEnumerable<SelectListItem>)ViewBag.Months, "-- महिना निवडा --", new { @class = "form-control" })
                            <br>
                            @Html.ValidationMessageFor(temp => temp.Month)
                        </div>

                        <div class="form-group col-md-6">
                            @Html.DropDownListFor(model => model.Year, (IEnumerable<SelectListItem>)ViewBag.Years, "-- वर्ष निवडा --", new { @class = "form-control" })
                            <br>
                            @Html.ValidationMessageFor(temp => temp.Year)
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="form-group col-md-12 center-div" style="font-size: 20px;">
        @Html.CheckBoxFor(temp => temp.NotApplicable, new { id = "NotApplicable" })
        <strong>&nbsp&nbspविषय लागु नाही / या महिन्यासाठी उद्दिष्ट व साध्य लागु नाही</strong>
    </div>

    <div id="WrappperDiv">
        <div class="container" style="padding: 30px;background: white;">
            <div class="col-md-12" style="box-shadow: 0px 0px 5px lightgrey;">
                <div class="card-text">
                    <div class="center-group">
                        <br>
                        <span style="color: #e77817 !important; font-size: 16px;">अर्जांची माहिती</span>
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(temp => temp.Total_Application)
                                @Html.TextBoxFor(temp => temp.Total_Application, new { id = "Total_Application", @class = "form-control" })
                                @Html.ValidationMessageFor(temp => temp.Total_Application)
                            </div>
                        </div>
                        <hr>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(temp => temp.Resolved_Application)
                                @Html.TextBoxFor(temp => temp.Resolved_Application, new { id = "Resolved_Application", @class = "form-control" })
                                @Html.ValidationMessageFor(temp => temp.Resolved_Application)
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="padding: 30px;background: white;">
            <div class="col-md-12" style="box-shadow: 0px 0px 5px lightgrey;">
                <div class="card-text">
                    <div class="center-group">
                        <br>
                        <span style="color: #e77817 !important; font-size: 16px;">मुल्यांकनानुसार प्राप्त गुण</span>
                        <hr>
                        <div class="form-row">



                            <div class="form-group col-md-6">
                                @Html.LabelFor(temp => temp.Resolved_Percentage)
                                @Html.TextBoxFor(temp => temp.Resolved_Percentage, new { id = "Resolved_Percentage_val", @class = "form-control", disabled = "disabled" })
                                @Html.ValidationMessageFor(temp => temp.Resolved_Percentage)
                                @Html.HiddenFor(temp => temp.Resolved_Percentage, new { id = "Resolved_Percentage" })
                            </div>

                            <div class="form-group col-md-6">
                                @Html.LabelFor(temp => temp.Appraisal_Marks)
                                @Html.TextBoxFor(temp => temp.Appraisal_Marks, new { id = "Appraisal_Marks_val", @class = "form-control", disabled = "disabled" })
                                @Html.ValidationMessageFor(temp => temp.Appraisal_Marks)
                                @Html.HiddenFor(temp => temp.Appraisal_Marks, new { id = "Appraisal_Marks" })
                            </div>

                            @*<div class="form-group col-md-10">
                                    @Html.LabelFor(temp => temp.Remarks)
                                    @Html.TextAreaFor(temp => temp.Remarks, new { id = "Remarks", @class = "form-control" })
                                    @Html.ValidationMessageFor(temp => temp.Remarks)
                                </div>
                            *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding: 30px;background: white;">
        <div class="col-md-12" style="box-shadow: 0px 0px 5px lightgrey;">
            <div class="card-text">
                <div class="center-group">
                    <br>
                    <span style="color: #e77817 !important; font-size: 17px;">
                        Confirmation / पुष्टीकरण
                    </span>
                    <hr>

                    <div style="text-align:justify; font-size: 16px; line-height:25px">
                        I affirm that the above mentioned information submitted by me is true and correct to my knowledge and belief. / मी प्रमाणित करतो की मी वर नमूद केलेली माहिती माझ्या माहितीनुसार सत्य आणि अचूक आहे.
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" onclick="return confirm('या महिन्यासाठीचा मुल्यांकन अहवाल आपण सादर करु इच्छिता?')">Submit / माहिती भरा</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>


    <br>
    <br>


}

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script>
      $(document).ready()
    {
        var isReportSubmitted = @Html.Raw(Json.Encode(ViewBag.isReportSubmitted));
        if (isReportSubmitted == true) {
            if (window.confirm('या महिन्यासाठीचा मुल्यांकन अहवाल आपण सादर केला आहे.'))
                window.open("/Report/DepartmentWiseReport", "_self");
            else
                window.open("/Report/DepartmentWiseReport", "_self");
        }

        var Total_Marks = Number(@Session["TotalMarks"].ToString());
    }


    function Resolved_Percentage() {
        var Total = (Number($("#Resolved_Application").val()) * 100 / Number($("#Total_Application").val()));
        Total = Total.toFixed(2);

        if (isNaN(Total) || Total == "Infinity") {  // Matches +0, -0, NaN
            Total = 0;
        }

        $("#Resolved_Percentage").val(Number(Total));
        $("#Resolved_Percentage_val").val(Number(Total));
        $("#Resolved_Percentage_val").css("font-weight", "bold");
    }

    function Appraisal_Marks() {

        var Appraisal_Marks = (Number($("#Resolved_Application").val()) * Total_Marks / Number($("#Total_Application").val()));
        Appraisal_Marks = Appraisal_Marks.toFixed(2);

        if (Appraisal_Marks > Total_Marks) {
            Appraisal_Marks = Total_Marks
        }


        if (isNaN(Appraisal_Marks)) {  // Matches +0, -0, NaN
            Appraisal_Marks = 0;
        }

        $("#Appraisal_Marks").val(Number(Appraisal_Marks));
        $("#Appraisal_Marks_val").val(Number(Appraisal_Marks));
        $("#Appraisal_Marks_val").css("font-weight", "bold");
    }


    function SetValue() {
        $("#Resolved_Percentage").val(Number($("#Resolved_Percentage_val").val()));
        $("#Appraisal_Marks").val(Number($("#Appraisal_Marks_val").val()));
    }


    $("#Total_Application").change(Appraisal_Marks);
    $("#Resolved_Application").change(Appraisal_Marks);

    $("#Total_Application").change(Resolved_Percentage);
    $("#Resolved_Application").change(Resolved_Percentage);

    $('#NotApplicable').prop('checked', false); // Unchecks Not Applicaable by default

    $('#NotApplicable').click(function () {
        //If the checkbox is checked.
        if ($(this).is(':checked')) {
            //If it is checked, hide form
            $("#WrappperDiv").css("display", "none");

            $("#Total_Application").val("0");
            $("#Resolved_Application").val("0");

            $("#Appraisal_Marks").val("0");
            $("#Resolved_Percentage").val("0");
            $("#Appraisal_Marks_val").val("0");
            $("#Resolved_Percentage_val").val("0");
            $("#NotApplicable").val(true);

        } else {

            //If it is not checked, show form
            $("#WrappperDiv").css("display", "block");
        }
    });


</script>
