@using Performance_Appraisal_System.Models
@model Performance_Appraisal_System.Models.User

@{
    ViewBag.Title = "मूल्यांकन अहवाल";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderPartial("PrevNextBar");
}

<div class="container" style="padding: 30px;background: white;">
    <div class="col-md-12" style="box-shadow: 0px 0px 5px lightgrey;">
        <br>
        <br>
        <h5 class="card-title text-center" style="color: #e77817 !important; font-size: 20px;"><strong>@ViewBag.UserName - मुल्यांकन अहवाल</strong></h5>
        <hr>
        <div class="form-group col-md-12 center-div" style="color: #e77817 !important; font-size: 20px;">

            एकुण गुण:  <span id="TotalMarks"></span> &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp प्राप्त गुण: <span id="AppraisalMarks"></span>
            &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp प्राप्त गुणांची टक्केवारी: <span id="AppraisalPercentage"></span> %
            <br><br>
            <div>
                लागु नसलेल्या विषयांचे गुण : <span id="NAMarks"></span>
            </div>

        </div>
        <div class="card-text">

            <div class="center-group">
                <div class="form-row">
                    <div class="form-group col-md-6 center-div">
                        @Html.DropDownList("Month", ViewBag.Months as SelectList, "-- Select Month --", new { @style = "font-size:14px; text-indent: 40%;", @class = "form-control" })
                    </div>

                    <div class="form-group col-md-6 center-div">
                        @Html.DropDownList("Year", ViewBag.Years as SelectList, "-- Select Year --", new { @style = "font-size:14px; text-indent: 40%;", @class = "form-control" })
                    </div>
                </div>

                @Html.HiddenFor(temp => temp.UId, new { id = "UId" })

                <hr>
                <br>
                <br>

                <div style="overflow: auto;">

                    <table id="ReportTable" class="table table-striped branchtable">
                        <thead style="text-align: center; vertical-align: middle !important; background-color: #a8bdbd">
                            <tr>
                                <th>शाखा</th>
                                <th>विषय</th>
                                <th>एकुण गुण</th>
                                <th>प्राप्त गुण</th>
                                <th>प्राप्त गुणांची टक्केवारी</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;"></tbody>
                        <tfoot>
                            <tr style="background:#a8bdbd; font-size:18px">
                                <th style="text-align:center" colspan="2">एकुण</th>
                                <th style="text-align:center"></th>
                                <th style="text-align:center"></th>
                                <th style="text-align:center"></th>
                                <th style="text-align:center"></th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="center-div">
                        <button class="btn w3-right btn-outline-dark" onclick="getDepartmentwiseReport()">Department-wise Reports</button>
                    </div>
                    <br>
                    <hr>

                    <br>
                    <table id="RemainingSubTable" class="table table-striped branchtable">
                        <thead style="text-align:center; background-color: #a8bdbd">
                            <tr>
                                <th style="text-align:center">माहिती प्राप्त नसलेले विषय</th>
                                <th style="text-align:center"></th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center"></tbody>
                    </table>
                    <br>
                    <br>

                    <hr>

                    <br>
                    <table id="NASubTable" class="table table-striped branchtable">
                        <thead style="text-align:center; background-color: #a8bdbd">
                            <tr>
                                <th style="text-align:center">शाखा</th>
                                <th style="text-align:center">लागु नसलेले विषय</th>
                                <th style="text-align:center"></th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center"></tbody>
                    </table>
                    <br>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script>

    $(document).ready(function () {

        LoadHeaderData();

        bindDataTable();
        bindRemainignSubTable();
        bindNASubTable();


        $('#RemainingSubTable').append('<caption style="caption-side: top"><h5 class="card-title text-center" style="color: #151111 !important; font-size: 16px;"><strong>@ViewBag.UserName यांनी अद्याप माहिती न भरलेले विषय</strong></h5></caption>');
        $('#NASubTable').append('<caption style="caption-side: top"><h5 class="card-title text-center" style="color: #151111 !important; font-size: 16px;"><strong>@ViewBag.UserName - लागु नसलेले विषय</strong></h5></caption>');
    });


    function bindDataTable() {

        var UId = $("#UId").val();

        var Month = $("#Month").val();
        $("#Month").blur();

        var Year = $("#Year").val();
        $("#Year").blur();

        var SelectedYear = $("#Year option:selected").html();
        var SelectedMonth = $("#Month option:selected").html();

        table = $("#ReportTable").DataTable({
            paging: false,
            responsive: true,
            processing: true,
            autoWidth: true,
            filter: true,
            info: false,
            fixedColumns: true,
            order: [],
            language: {
                emptyTable: "या महिन्यासाठी मुल्यांकन अहवाल प्राप्त नाही"
            },
            rowCallback: function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                switch (aData.report.DepartmentId) {
                    case 1:
                        $('td', nRow).css('background-color', '#ffe6e6');
                        break;
                    case 2:
                        $('td', nRow).css('background-color', '#ffffcc');
                        break;
                    case 3:
                        $('td', nRow).css('background-color', '#ccffdd');
                        break;
                    case 4:
                        $('td', nRow).css('background-color', '#ccffff');
                        break;
                    case 5:
                        $('td', nRow).css('background-color', '#f7e6ff');
                        break;
                    case 6:
                        $('td', nRow).css('background-color', '#fff5e5');
                        break;
                    case 7:
                        $('td', nRow).css('background-color', '#f0f0f5');
                        break;
                    case 8:
                        $('td', nRow).css('background-color', '#ffe0cc');
                        break;
                    case 9:
                        $('td', nRow).css('background-color', '#ccd9ff');
                        break;
                    case 10:
                        $('td', nRow).css('background-color', '#eeeedd');
                        break;
                }
            },
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // Total over all pages
                total_Marks = document.getElementById('TotalMarks').innerHTML;
                total_Appraisal = document.getElementById('AppraisalMarks').innerHTML;
                total_Percentage = document.getElementById('AppraisalPercentage').innerHTML;


                // Update footer
                $(api.column(2).footer()).html(
                    total_Marks
                );

                $(api.column(3).footer()).html(
                    total_Appraisal
                );

                $(api.column(4).footer()).html(
                    total_Percentage + ' %'
                );
            },
            "ajax": {
                "url": "/ReportView/GetDetailReportData?UId=" + UId + "&Month=" + Month + "&Year=" + Year,
               "type": "GET",
                  "datatype": "json",
                "error": function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Something went wrong, Please try again...");
                }
            },
            "columns": [
                { "data": "DepartmentName" },
                { "data": "Subject" },
                { "data": "report.Total_Marks" },
                { "data": "report.Appraisal_Marks" },
                { "data": "Appraisal_Percentage" },
                {
                    "render": function (data, type, full, meta) {
                        return '<div style="display: inline-flex;"><button style="margin: 5px" class = "btn-view btn btn-outline-dark" > View </button > <button style="margin: 5px" id="Edit-Data" class="btn-edit btn btn-outline-danger">Edit</button></div>';
                    }
                },
            ],
            dom: 'Bfrtip',
            buttons: [
                { extend: 'excelHtml5', footer: true, text: 'Download Report', title: "@ViewBag.UserName मुल्यांकन प्रणाली अहवाल -"+ SelectedMonth + " " + SelectedYear },
                { extend: 'print', footer: true, text: 'Print', title: "@ViewBag.UserName मुल्यांकन प्रणाली अहवाल -"+ SelectedMonth + " " + SelectedYear }
            ]
        });

    }

    function bindRemainignSubTable() {

        var UId = $("#UId").val();

        var Month = $("#Month").val();
        $("#Month").blur();

        var Year = $("#Year").val();
        $("#Year").blur();

        var SelectedYear = $("#Year option:selected").html();
        var SelectedMonth = $("#Month option:selected").html();

        table1 = $("#RemainingSubTable").DataTable({
            paging: false,
            responsive: true,
            processing: true,
            autoWidth: true,
            filter: false,
            info: false,
            fixedColumns: true,
            order: [],
            fnInitComplete: function () {
                if ($(this).find('tbody tr').length < 1) {
                    $(this).parent().hide();
                }
            },
            language: {
                emptyTable: "या महिन्यासाठी सर्व विषयांची माहिती प्राप्त झाली आहे"
            },
            rowCallback: function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                switch (aData.DepartmentId) {
                    case 1:
                        $('td', nRow).css('background-color', '#ffe6e6');
                        break;
                    case 2:
                        $('td', nRow).css('background-color', '#ffffcc');
                        break;
                    case 3:
                        $('td', nRow).css('background-color', '#ccffdd');
                        break;
                    case 4:
                        $('td', nRow).css('background-color', '#ccffff');
                        break;
                    case 5:
                        $('td', nRow).css('background-color', '#f7e6ff');
                        break;
                    case 6:
                        $('td', nRow).css('background-color', '#fff5e5');
                        break;
                    case 7:
                        $('td', nRow).css('background-color', '#f0f0f5');
                        break;
                    case 8:
                        $('td', nRow).css('background-color', '#ffccff');
                        break;
                    case 9:
                        $('td', nRow).css('background-color', '#ccd9ff');
                        break;
                    case 10:
                        $('td', nRow).css('background-color', '#eeeedd');
                        break;
                }
            },
            "ajax": {
                "url": "/ReportView/DetailRemainingSubjectsData?UId=" + UId + "&Month=" + Month + "&Year=" + Year,
               "type": "GET",
               "datatype": "json",
               "error": function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Something went wrong, Please try again...");
                }
            },
            "columns": [
                { "data": "Subject" },
                {
                    "render": function (data, type, full, meta) {
                        return '<button id="btn-open" style="margin-bottom: 0 !important;" class="btn-open btn btn-outline-danger">Open</button>';
                    }
                },
            ],
            dom: 'Bfrtip',
            buttons: [
                { extend: 'excelHtml5', text: 'Download Report', title: "@ViewBag.UserName" +' यांनी अद्याप माहिती न भरलेले विषय -'+ SelectedMonth + " " + SelectedYear },
                { extend: 'print', text: 'Print', title: "@ViewBag.UserName" +' यांनी अद्याप माहिती न भरलेले विषय -'+ SelectedMonth + " " + SelectedYear }
            ]
        });

    }

    function bindNASubTable() {

        var UId = $("#UId").val();

        var Month = $("#Month").val();
        $("#Month").blur();

        var Year = $("#Year").val();
        $("#Year").blur();

        var SelectedYear = $("#Year option:selected").html();
        var SelectedMonth = $("#Month option:selected").html();

        table3 = $("#NASubTable").DataTable({
            paging: false,
            responsive: true,
            processing: true,
            autoWidth: true,
            filter: false,
            info: false,
            fixedColumns: true,
            order: [],
            fnInitComplete: function () {
                if ($(this).find('tbody tr').length < 1) {
                    $(this).parent().hide();
                }
            },
            language: {
                emptyTable: "या महिन्यासाठी सर्व विषय लागु आहेत."
            },
            rowCallback: function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                switch (aData.DepartmentId) {
                    case 1:
                        $('td', nRow).css('background-color', '#ffe6e6');
                        break;
                    case 2:
                        $('td', nRow).css('background-color', '#e6ffe6');
                        break;
                    case 3:
                        $('td', nRow).css('background-color', '#a7bbc7');
                        break;
                    case 4:
                        $('td', nRow).css('background-color', '#ffe6e6');
                        break;
                    case 5:
                        $('td', nRow).css('background-color', '#e6ffe6');
                        break;
                    case 6:
                        $('td', nRow).css('background-color', '#a7bbc7');
                        break;
                    case 7:
                        $('td', nRow).css('background-color', '#ffe6e6');
                        break;
                    case 8:
                        $('td', nRow).css('background-color', '#e6ffe6');
                        break;
                    case 9:
                        $('td', nRow).css('background-color', '#a7bbc7');
                        break;
                    case 10:
                        $('td', nRow).css('background-color', '#ffe6e6');
                        break;
                }
            },
            "ajax": {
                "url": "/ReportView/DetailNASubjectsData?UId=" + UId + "&Month=" + Month + "&Year=" + Year,
                "type": "GET",
                "datatype": "json",
                "error": function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Something went wrong, Please try again...");
                }
            },
            "columns": [
                { "data": "DepartmentName" },
                { "data": "Subject" },
                {
                    "render": function (data, type, full, meta) {
                        return '<button id="Edit-Data" style="margin-bottom: 0 !important;" class="btn-edit btn btn-outline-danger">Edit</button>';
                    }
                },
            ],
             dom: 'Bfrtip',
            buttons: [
                { extend: 'excelHtml5', text: 'Download Report', title: "@ViewBag.UserName" + '- लागु नसलेले विषय -' + SelectedMonth + " " + SelectedYear },
                { extend: 'print', text: 'Print', title: "@ViewBag.UserName" + ' - लागु नसलेले विषय -' + SelectedMonth + " " + SelectedYear }
            ]
        });

    }

    $('#ReportTable tbody').on('click', '.btn-view', function () {
        var data = table.row($(this).parents('tr')).data();

        var UId = $("#UId").val();

        var Month = $("#Month").val();
        $("#Month").blur();

        var Year = $("#Year").val();
        $("#Year").blur();

        window.open(
            "/ReadOnlyReports/ReadOnlyReportView?UId=" + UId + "&DepartmentId=" + data.report.DepartmentId + "&SubjectId=" + data.report.SubjectId + "&Month=" + Month + "&Year=" + Year,"_self");

    });

    $('#ReportTable tbody').on('click', '.btn-edit', function EditData() {
        var data = table.row($(this).parents('tr')).data();

        var UId = $("#UId").val();

        var Month = $("#Month").val();
        $("#Month").blur();

        var Year = $("#Year").val();
        $("#Year").blur();

        window.open(
            "/ReadOnlyReports/ReadOnlyReportView?UId=" + UId + "&DepartmentId=" + data.report.DepartmentId + "&SubjectId=" + data.report.SubjectId + "&Month=" + Month + "&Year=" + Year +"&Type=1", "_self");

    });


    $('#NASubTable tbody').on('click', '.btn-edit', function EditData() {
        var data = table3.row($(this).parents('tr')).data();
       
        var UId = $("#UId").val();

        var Month = $("#Month").val();
        $("#Month").blur();

        var Year = $("#Year").val();
        $("#Year").blur();

        window.open(
            "/ReadOnlyReports/ReadOnlyReportView?UId=" + UId + "&DepartmentId=" + data.DepartmentId + "&SubjectId=" + data.SubjectId + "&Month=" + Month + "&Year=" + Year + "&Type=1", "_self");

    });


    $('#RemainingSubTable tbody').on('click', '.btn-open', function OpenReport() {
        var data = table1.row($(this).parents('tr')).data();
      
        window.open(
            "/Report/OpenReportForms?DepartmentId=" + data.DepartmentId + "&SubjectId=" + data.SubjectId, "_self");

    });

    function LoadHeaderData() {

        var UId = $("#UId").val();

        var Month = $("#Month").val();
        $("#Month").blur();

        var Year = $("#Year").val();
        $("#Year").blur();

            $.ajax({
                type: "get",
                url: "/ReportView/GetDetailReportHeaders?UId=" + UId + "&Month=" + Month + "&Year=" + Year,
                contentType: "html",
                success: function (response) {

                    if (response.data[0] != null) {

                        document.getElementById('TotalMarks').innerHTML = response.data[0].Total_Marks;
                        document.getElementById('AppraisalMarks').innerHTML = response.data[0].Appraisal_Marks;
                        document.getElementById('AppraisalPercentage').innerHTML = response.data[0].Appraisal_Percentage;
                        document.getElementById('NAMarks').innerHTML = response.data[0].NAMarks;

                    }
                    else {
                        @*alert("No data found for selected financial period");*@

                        document.getElementById('TotalMarks').innerHTML = "0";
                        document.getElementById('AppraisalMarks').innerHTML = "0";
                        document.getElementById('AppraisalPercentage').innerHTML = "0";
                        document.getElementById('NAMarks').innerHTML = "0";
                    }
                },
            })
    };

    $("#Month").change(function () {
        LoadHeaderData();

        table.destroy();
        table1.destroy();
        table3.destroy();

        bindDataTable();
        bindRemainignSubTable();
        bindNASubTable();

    })

    $("#Year").change(function () {

        LoadHeaderData();

        table.destroy();
        table1.destroy();
        table3.destroy();

        bindDataTable();
        bindRemainignSubTable();
        bindNASubTable();

    })

    function getDepartmentwiseReport() {

        var UId = $("#UId").val();

        window.open("/ReportView/GetOfficeReportView?UId=" + UId, "_self");
    }

</script>
