@model Performance_Appraisal_System.ViewModels.DepartmentsReportViewModel

@{
    ViewBag.Title = "लेखापरीक्षण पुर्ण न झालेल्या संस्था व लेखापरीक्षक यांचेवर केलेली कारवाई";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding: 30px;background: white;">
    <div class="col-md-12" style="box-shadow: 0px 0px 5px lightgrey;">
        <br>
        <br>
        <h5 class="card-title text-center"><strong>विभागीय सहनिबंधक, जिल्हा उपनिबंधक व त्या अंतर्गत असलेले उपनिबंधक कार्यालये यांचा मुल्यांकन प्रणाली अहवाल</strong></h5>
        <hr>
        <div class="card-text">

            <div class="center-group">

                <div class="form-group col-md-12 center-div" style="color: #e77817 !important; font-size: 20px;">
                    विषय: <strong> @ViewBag.Title </strong>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6 center-div">
                        @Html.DropDownListFor(model => model.Month, (IEnumerable<SelectListItem>)ViewBag.Months, new { @class = "form-control" })
                        @Html.ValidationMessageFor(temp => temp.Month)
                    </div>

                    <div class="form-group col-md-6 center-div">
                        @Html.DropDownListFor(model => model.Year, (IEnumerable<SelectListItem>)ViewBag.Years, new { @class = "form-control" })
                        @Html.ValidationMessageFor(temp => temp.Year)
                    </div>
                </div>

                @Html.HiddenFor(temp => temp.DepartmentId, new { id = "DepartmentId" })
                @Html.HiddenFor(temp => temp.SubjectId, new { id = "SubjectId" })
                <hr>
                <br>
                <br>

                <div style="overflow: auto;">

                    <table id="ReportTable" class="table">
                        <thead style="text-align: center;
        vertical-align: middle !important;">
                            <tr>
                                <th>जिल्हा/विभाग</th>
                                <th>लेखापरीक्षणास पात्र असणाऱ्या संस्थांपैकी लेखापरीक्षण न झालेल्या एकुण संस्थांची संख्या</th>
                                <th>चालु महिन्यात लेखापरीक्षण पुर्ण झालेल्या संस्थांची संख्या</th>
                                <th>चालु महिनाअखेर लेखापरीक्षण पुर्ण न झालेल्या  संस्थांची संख्या</th>
                                <th>लेखापरीक्षण न होण्यास कारणीभुत असलेल्या संस्था/लेखापरीक्षक यांचेवर कारवाई केल्याची संख्या</th>
                                <th>कारवाई केल्याचे प्रमाण/टक्केवारी</th>
                                <th>कारवाईच्या प्रमाणात मिळालेले गुण</th>
                                <th>मुल्यांकनानुसार एकुण प्राप्त गुण</th>
                                <th>लक्षांकानुसार लेखापरीक्षण पुर्णतेची टक्केवारी</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;"></tbody>
                     </table>
                    <br>
                    <br>

                    <hr>
                    <div id="chart"></div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script>

    $(document).ready(function () {
        bindDataTable();
    });

    function bindDataTable() {

        var Month = $("#Month").val();
        var Year = $("#Year").val();
        var DepartmentId = $("#DepartmentId").val();
        var SubjectId = $("#SubjectId").val();

        table = $("#ReportTable").DataTable({
            paging: false,
            responsive: true,
            processing: true,
            autoWidth: true,
            filter: true,
            info: false,
            fixedColumns: true,
            language: {
                emptyTable: "माहिती उपलब्ध नाही "
            },
            rowCallback: function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                if (aData.report.Remarks == "Late") {
                    $('td', nRow).css('background-color', '#ffe6e6');
                }
                else {
                    $('td', nRow).css('background-color', '#e6ffe6');
                }
            },
            "ajax": {
                "url": "/ReportView/GetDepartmentReportData?DepartmentId=" + DepartmentId + "&SubjectId=" + SubjectId + "&Month=" + Month + "&Year=" + Year,
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "UserName" },
                { "data": "report.Eligible_for_Audit" },
                { "data": "report.Current_Month_Audit" },
                { "data": "report.Current_Month_Remaining_for_Audit" },
                { "data": "report.Action_Taken" },
                { "data": "report.Percentage_Action_Taken" },
                { "data": "report.Marks_Action_Taken" },
                { "data": "report.Appraisal_Marks" },
                { "data": "report.Appraisal_Percentage" }
            ],
            dom: 'Bfrtip',
            buttons: [
                { extend: 'excelHtml5', text: 'Download Report'}
            ]
        });
    
        const tableData = getTableData(table);
        createHighcharts(tableData);
        setTableEvents(table);
    }

    function getTableData(table) {
        const dataArray = [],
            BranchArray = [],
            PercentageArray = []

        // loop table rows
        table.rows({ search: "applied" }).every(function () {
            const data = this.data();
            BranchArray.push(data.UserName);
            PercentageArray.push(parseInt(data.report.Appraisal_Percentage));
        });

        // store all data in dataArray
        dataArray.push(BranchArray, PercentageArray);

        return dataArray;
    }

    function createHighcharts(data) {
        Highcharts.setOptions({
            lang: {
                thousandsSep: ","
            }
        });

        Highcharts.chart("chart", {
            title: {
                text: "@ViewBag.Title"
            },
            xAxis: [
                {
                    categories: data[0],
                    labels: {
                        rotation: 0
                    }
                }
            ],
            yAxis: [
                {
                    title: {
                        text: "मूल्यांकन टक्केवारी"
                    }
                }
            ],
            series: [
                {
                    name: "मूल्यांकन टक्केवारी",
                    color: "#ffc107",
                    type: "column",
                    data: data[1],
                    tooltip: {
                        valueSuffix: " %"
                    }
                }
            ],
            tooltip: {
                shared: true
            },
            legend: {
                backgroundColor: "#ececec",
                shadow: true,
            },
            credits: {
                enabled: false
            },
            noData: {
                style: {
                    fontSize: "16px"
                }
            }
        });
    }

    let draw = false;

    function setTableEvents(table) {
        // listen for page clicks
        table.on("page", () => {
            draw = true;
        });

        // listen for updates and adjust the chart accordingly
        table.on("draw", () => {
            if (draw) {
                draw = false;
            } else {
                const tableData = getTableData(table);
                createHighcharts(tableData);
            }
        });
    }




    $("#Month").change(function () {
        table.destroy();
        bindDataTable();
        $("#Month").blur();
    })

    $("#Year").change(function () {
        table.destroy();
        bindDataTable();
        $("#Year").blur();
    })

</script>
